<div class="search-container">
    <app-search (onSubmit)="onSearch($event)"></app-search>
</div>
<div *ngIf="data$ | async as data">
    <app-short-info-video
        *ngFor="let item of data.items;"
        [item]="item"
        (setFavorite)="setFavorite($event)"
        >
    </app-short-info-video>
    <mat-paginator [length]="data.pageInfo.totalResults"
        pageSize="50"
        [pageIndex]="pageIndex"
        (page)="changePage($event)"
        hidePageSize="true">
    </mat-paginator>
</div>